/* line 2, ../sass/base.scss */
#header {
  background-color: mediumseagreen;
  margin: 0;
  padding: 0;
  border-bottom: 1px #666666 solid;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 50px;
}
/* line 14, ../sass/base.scss */
#header a {
  color: #fefefe;
  text-decoration: none;
}
/* line 19, ../sass/base.scss */
#header .logo, #header .user-info {
  width: 200px;
  height: 50px;
  display: block;
  position: relative;
  top: 0;
}
/* line 26, ../sass/base.scss */
#header .logo {
  margin: 5px;
  height: 40px;
  float: left;
}
/* line 30, ../sass/base.scss */
#header .logo h1 {
  font-size: 32px;
  color: #fefefe;
  margin: 5px 16px;
  vertical-align: middle;
}
/* line 37, ../sass/base.scss */
#header .user-info {
  padding: 0;
  float: right;
  width: 303px;
}
/* line 45, ../sass/base.scss */
#header .user-info ul {
  margin: 0;
  padding: 0;
}
/* line 48, ../sass/base.scss */
#header .user-info ul li {
  display: block;
  height: 50px;
  float: left;
  border-left: 1px #666666 solid;
}
/* line 53, ../sass/base.scss */
#header .user-info ul li a {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  text-decoration: none;
}
/* line 59, ../sass/base.scss */
#header .user-info ul li a span {
  color: #fefefe;
  font-weight: bold;
  width: 128px;
  position: absolute;
  top: 14px;
  left: 0px;
  display: inline-block;
  margin: 0;
  margin-left: 50px;
}
/* line 70, ../sass/base.scss */
#header .user-info ul li a .avatar {
  display: inline-block;
  margin: 9px;
}
/* line 74, ../sass/base.scss */
#header .user-info ul li a:hover {
  background-color: #76c99b;
}
/* line 79, ../sass/base.scss */
#header .user-info ul li.user {
  width: 200px;
}
/* line 89, ../sass/base.scss */
#header .user-info ul li.logout, #header .user-info ul li.preferences {
  width: 50px;
}
/* line 91, ../sass/base.scss */
#header .user-info ul li.logout .nav-image, #header .user-info ul li.preferences .nav-image {
  background-color: #eee;
  background-repeat: no-repeat;
  top: 9px;
  left: 9px;
  position: absolute;
  width: 32px;
  height: 32px;
  display: block;
}

/* line 109, ../sass/base.scss */
.avatar {
  background-color: #eee;
  border: 0.5px #666666 solid;
  border-radius: 16px;
  width: 32px;
  height: 32px;
  display: inline-block;
}

/* line 118, ../sass/base.scss */
body {
  color: #333;
  background-color: #fefefe;
}

/* line 123, ../sass/base.scss */
#content {
  margin-top: 50px;
  padding-top: 15px;
}

/* line 128, ../sass/base.scss */
a {
  color: #3cb371;
  text-decoration: none;
}
/* line 132, ../sass/base.scss */
a:hover {
  color: #2a7d4f;
}

/* line 137, ../sass/base.scss */
h2 {
  font-size: 24px;
  margin-bottom: 15px;
}
