{% extends "ribbit/base.html" %}
{% block javascript %}<script src="{{ STATIC_URL }}js/chat.js" charset="utf-8"></script>{% endblock %}
{% block css %}<link rel="stylesheet" href="{{ STATIC_URL }}css/chat.css" type="text/css">{% endblock %}
{% block content %}
<h1>{{ object.title }}</h1>
<p><a href="{% url 'rooms_room_update' room.slug %}">Manage this room</a></p>
<form method="POST" action="{% url 'rooms_room_leave' room.slug %}">{% csrf_token %}
    <input type="submit" value="Leave this room">
</form>
<input type="hidden" id="room-slug" value="{{ object.slug }}">
<section id="message-list">
    <article class="message" style="display: none;">
        <div class="avatar"></div>
        <section class="main-section">
            <div class="author"></div>
            <div class="body"></div>
        </section>
    </article>
</section>
<section>
    <form id="message-form" action="/">
        <textarea id="message-box" name="message"></textarea>
        <input type="submit" id="send-button" value="Send">
    </form>
</section>
{% endblock %}
