.idea
*.egg-info
db.sqlite3
.python-version
ribbit/static/js/lib/bower_components/*
ribbit/static/uploads/avatars/*
ribbit/static/uploads/icons/*
!ribbit/static/uploads/avatars/profile*
!ribbit/static/uploads/icons/icon*
