{% extends "ribbit/base.html" %}
{% block title %}Ribbit - Lobby{% endblock %}
{% block content %}
Welcome {{ user.username }}

<h2>Joined Rooms</h2>
<ul>
{% for room in joined_rooms %}
    <li><a href="{% url 'rooms_room_detail' room.slug %}">{{ room.title }}</a></li>
{% endfor %}
</ul>

<h2>Available Rooms</h2>
<ul>
{% for room in not_joined_rooms %}
    <li><a href="{% url 'rooms_room_detail' room.slug %}">{{ room.title }}</a></li>
{% endfor %}
</ul>
<p></p><a href="{% url 'rooms_room_create' %}">Create new Room</a></p>
{% endblock %}
