{% extends "ribbit/base.html" %}
{% block title %}Ribbit - Lobby{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/contents/lobby.css" type="text/css">
{% endblock %}
{% block content %}

<p><a href="{% url 'rooms_room_create' %}" class="button button-flat-primary button-large">Create new Room</a></p>
{% include "components/room_list.html" with rooms=joined_rooms title="Joined Rooms" %}
{% include "components/room_list.html" with rooms=not_joined_rooms title="Available Rooms" %}

{% endblock %}
