@import "../partials/_constants";
@import "compass/layout.scss";

$footer-height: 100px;
$room-info-height: 100px;
$message-list-height: 500px;
$sidebar-width: 300px;

#content {
  @include sticky-footer($footer-height, '#root', '#root-footer', '#message-form');
  min-height: $header-height + $footer-height + $message-list-height + 50px;
}

#room-info {
  overflow-x: hidden;
  margin: 10px;
  height: $room-info-height;

  legend {
    margin-left: 15px;
  }

  nav {
    margin: 5px 15px;
  }

}

.two-column {
  min-width: $min-width;
  #room-main {
    min-width: $min-width - $sidebar-width;
    @include stretch(0, $sidebar-width, $footer-height, 0);
    float: left;
  }
}

#room-toolbar {
  width: $sidebar-width;
  float: right;
}

#message-list {
  height: $message-list-height;
  overflow: scroll;
}

$imageSize: 64px;
$margin: 10px;
$boxHeight: $imageSize + $margin * 2;
.message {
  border: 1px #999 solid;
  border-radius: 4px;
  margin: $margin;
  position: relative;

  .created_at {
    position : absolute;
    right: 5px;
    bottom: 3px;
  }

  .avatar {
    background: #eeeeee;
    background-repeat: no-repeat;
    margin: $margin;
    border: 1px #ccc solid;
    border-radius: $imageSize / 2;
    vertical-align: middle;
    width: $imageSize;
    height: $imageSize;
    float: left;
    box-shadow: 0px 0px 0.5px 1.5px #666 inset;
  }

  .main-section {
    border-left: 1px #999 solid;
    margin-left: $margin + $imageSize + $margin;
    min-height: $boxHeight;
  }

  .author {
    font-weight: bold;
    padding: 3px 3px 0;
    margin-top: 0px;
    position: relative;
    height: 20px;
  }

  .body {
    padding: 3px 7px 0;
  }
}

#content {
  width: 100%;
  @include stretch-y;
}

#message-form {
  padding: 0;
  min-width: $min-width;
  height: $footer-height;
}

#message-box {
  margin: 0;
  width: auto;
  height: 94px;
  @include stretch-x(0, 100px);
}

#send-button {
  width: 100px;
  height: $footer-height;
  float: right;
}
