/* line 9, ../../sass/contents/chat.scss */
#content {
  min-height: 700px;
}
/* line 10, ../../../../../../.rbenv/versions/1.9.3-p448/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#content html, #content body {
  height: 100%;
}
/* line 12, ../../../../../../.rbenv/versions/1.9.3-p448/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#content #root {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -100px;
}
/* line 18, ../../../../../../.rbenv/versions/1.9.3-p448/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#content #root #root-footer {
  height: 100px;
}
/* line 20, ../../../../../../.rbenv/versions/1.9.3-p448/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#content #message-form {
  clear: both;
  position: relative;
  height: 100px;
}

/* line 14, ../../sass/contents/chat.scss */
#room-info {
  overflow-x: hidden;
  margin: 10px;
  height: 100px;
}
/* line 19, ../../sass/contents/chat.scss */
#room-info legend {
  margin-left: 15px;
}
/* line 23, ../../sass/contents/chat.scss */
#room-info nav {
  margin: 5px 15px;
}

/* line 29, ../../sass/contents/chat.scss */
.two-column {
  min-width: 800px;
}
/* line 31, ../../sass/contents/chat.scss */
.two-column #room-main {
  min-width: 500px;
  position: absolute;
  top: 0;
  bottom: 100px;
  left: 0;
  right: 300px;
  float: left;
}

/* line 38, ../../sass/contents/chat.scss */
#room-toolbar {
  width: 300px;
  float: right;
}

/* line 43, ../../sass/contents/chat.scss */
#message-list {
  height: 500px;
  overflow: scroll;
}

/* line 51, ../../sass/contents/chat.scss */
.message {
  border: 1px #999 solid;
  border-radius: 4px;
  margin: 10px;
}
/* line 56, ../../sass/contents/chat.scss */
.message .avatar {
  background: #eeeeee;
  background-repeat: no-repeat;
  margin: 10px;
  border: 1px #ccc solid;
  border-radius: 32px;
  vertical-align: middle;
  width: 64px;
  height: 64px;
  float: left;
  box-shadow: 0px 0px 0.5px 1.5px #666 inset;
}
/* line 69, ../../sass/contents/chat.scss */
.message .main-section {
  border-left: 1px #999 solid;
  margin-left: 84px;
  min-height: 84px;
}
/* line 75, ../../sass/contents/chat.scss */
.message .author {
  font-weight: bold;
  padding: 3px 3px 0;
  margin-top: 0px;
  position: relative;
  height: 20px;
}
/* line 83, ../../sass/contents/chat.scss */
.message .body {
  padding: 3px 7px 0;
}

/* line 88, ../../sass/contents/chat.scss */
#content {
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
}

/* line 93, ../../sass/contents/chat.scss */
#message-form {
  padding: 0;
  min-width: 800px;
  height: 100px;
  background-color: red;
}

/* line 100, ../../sass/contents/chat.scss */
#message-box {
  margin: 0;
  width: auto;
  height: 94px;
  position: absolute;
  left: 0;
  right: 100px;
}

/* line 107, ../../sass/contents/chat.scss */
#send-button {
  width: 100px;
  height: 100px;
  float: right;
}
