/* line 1, ../../sass/contents/login.scss */
.login {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  display: block;
  text-align: center;
}
/* line 9, ../../sass/contents/login.scss */
.login h1 {
  font-size: 24px;
  font-weight: bold;
}
/* line 14, ../../sass/contents/login.scss */
.login form {
  margin: 15px;
}
/* line 18, ../../sass/contents/login.scss */
.login input[type=text], .login input[type=password] {
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 300px;
  height: 40px;
  border: 2px #999 solid;
  padding-left: 10px;
}
/* line 28, ../../sass/contents/login.scss */
.login input[type=text].username, .login input[type=password].username {
  border-bottom: 1px #666666 solid;
  border-radius: 8px 8px 0 0;
}
/* line 33, ../../sass/contents/login.scss */
.login input[type=text].password, .login input[type=password].password {
  border-top-style: none;
  border-radius: 0 0 8px 8px;
  margin-bottom: 15px;
}
/* line 41, ../../sass/contents/login.scss */
.login label {
  display: none;
}
